@media(maxwidth: 500px) {
  #header-txt {
    color:yellow;
  }
}

#header-txt {
  background-color: black;
  color:blue;
  display:fixed;
  width: 100%;
  height: Auto;
  text-align:center;
}
#body-id {
  background-color: black;
}

#header {
  align-items:center;
  margin:auto;
  display:fixed;
  justify-content: space-center;
  top:10px;
  height:auto;
    
}
#header-img {
  display: block;
  width:auto;
  position: absolute;
  right: 10px;
    top:10px;
  
  
}
#form {
  display:flex;
}

#myVideoCall {
  width: 300px;
  height:300px;
  border-width: 50px;
  border-style:solid;
  border-color:purple;
}

.nav-link {
  display:block;
}
.call-button-containers{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.callButton {
  
  align-self:flex-start;
  align-items: flex-start;
  top:10px;
  width: 23%;
  height:auto;
  border-radius:50px;
  border-width:10px;
  border-color:darkblue;
   border-style:solid;
  min-width: 150px;
  min-height: 150px;
  
}
.callButton:hover {
  border-color:yellow;
  transform:scale(1.1);
}